apiVersion: v1
kind: Service
metadata:
  name: sonarr-service
  labels:
    app: sonarr
spec:
  selector:
    app: sonarr
  ports:
    - name: webui
      port: 80
      targetPort: 8989
      protocol: TCP
  type: ClusterIP
