apiVersion: v1
kind: Service
metadata:
  name: radarr-service
  labels:
    app: radarr
spec:
  selector:
    app: radarr
  ports:
    - name: webui
      port: 80
      targetPort: 7878
      protocol: TCP
  type: ClusterIP
