apiVersion: v1
kind: Service
metadata:
  name: qbittorrent-service
  labels:
    app: qbittorrent
spec:
  selector:
    app: qbittorrent
  ports:
    - name: webui
      port: 80
      targetPort: 8090
      protocol: TCP
  type: ClusterIP
