apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared-tunnel
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      serviceAccountName: cloudflared
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:latest
        args:
          - tunnel
          - --config
          - /etc/cloudflared/config.yml
          - run
        volumeMounts:
        - name: cloudflared-config
          mountPath: /etc/cloudflared/config.yml
          subPath: config.yml
          readOnly: true
        - name: vault-secrets
          mountPath: /etc/cloudflared/credentials.json
          subPath: credentials.json
          readOnly: true
        - name: vault-secrets
          mountPath: /etc/cloudflared/tunnel-id
          subPath: tunnel-id
          readOnly: true
      volumes:
      - name: cloudflared-config
        configMap:
          name: cloudflared-config
      - name: vault-secrets
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true
          volumeAttributes:
            secretProviderClass: cloudflared-vault

