apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: cloudflared-vault
  namespace: cloudflared
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  provider: vault
  parameters:
    vaultAddress: "http://vault.vault.svc:8200"
    roleName: "cloudflared"
    objects: |
      - objectName: "credentials.json"
        secretPath: "kv/data/cloudflared"
        secretKey: "credentials.json"
      - objectName: "tunnel-id"
        secretPath: "kv/data/cloudflared"
        secretKey: "tunnel-id"
