global:
  image:
    tag: v3.2.2   # must match chart compatibility

configs:
  params:
    server.insecure: true   # no TLS yet (nginx handles TLS later)

server:
  replicas: 1

  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/backend-protocol: HTTP
    hostname: "argocd.home"
    pathType: Prefix
    extraHosts:
      - name: argocd-webhook.tothmarci25.com
        path: /api/webhook
        pathType: Exact

controller:
  replicas: 1

repoServer:
  replicas: 1

applicationSet:
  replicas: 1

redis:
  enabled: true

dex:
  enabled: false
