apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "6"
spec:
  project: default
  source:
    repoURL: https://github.com/tothmarci25/home-server
    targetRevision: HEAD
    path: k8s-manifests/infrastructure/base/nginx/config
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
